.trainer-form {
    display: flex;
    width: 90%;
    max-width: 50rem;
}

.trainer-form__input {
    flex: 1;
    padding: 1.5rem 1.5rem;
    font-size: 1.6rem;
    box-shadow: var(--shadow-primary);
    
}

.trainer-form__input::placeholder {
    font-size: 1.6rem;
    color: var(--text-color-light);
}

.trainer-form__submit {
    background-color: var(--red-color);
    color: var(--content-color);
    font-size: 1.6rem;
    padding: 1.4rem 2rem;
    font-weight: 600;
    transition: background-color 0.3s;
}

.trainer-form__submit:hover {
    background-color: var(--title-color);
    box-shadow: var(--shadow-primary);
}

.trainer-form__submit:active {
    transform: scale(0.98);
}

@media (min-width: 768px){
    .trainer-form__submit {
        padding-inline: 5rem;
    }
}