.home {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.home__main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home__figure {
    width: 80%;
    max-width: 50rem;
}

.home__footer {
    position: relative;
    overflow: hidden;
}

.home__footer-figure {
    position: absolute;
    inset-inline-start: 50%;
    transform: translateX(-50%);
    inset-block-start: 22%;
    max-width: 5rem;
}

.home__text {
    margin-block: 4rem;
    text-align: center;
}

.home__text h1 {
    font-size: 2.5rem;
}

.home__text p {
    font-size: 1.6rem;
}

.home__footer-red {
    height: 4rem;
    background-color: var(--red-color);
}

.home__footer-black {
    height: 2.5rem;
    background-color: var(--black-color);
}

.home__theme-button {
    position: fixed;
    inset-block-start: 10rem;
    inset-inline-start: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

@media (min-width: 768px){
    .home__footer-figure {
        max-width: 10rem;
    }
    
    .home__text h1 {
        font-size: 4rem;
        font-weight: 800;
    }

    .home__text p {
        font-size: 2rem;
    }

    .home__footer-red {
        height: 7rem;
    }
    
    .home__footer-black {
        height: 5rem;
    }

    .home__theme-button {
        inset-block-start: 14rem;
    }
}