/* ===== ===== ===== HEADER ===== ===== =====  */
.pokedex-header {
    padding-block: 1rem;
}

.pokedex-header__title {
    color: var(--text-color);
}

.pokedex-header__title span {
    color: var(--title-color);
    font-weight: 600;
}


@media (min-width: 768px){
    .pokedex__head-figure {
        max-width: 10rem;
    }

    .pokedex__head-red {
        height: 7rem;
    }
    
    .pokedex__head-black {
        height: 5rem;
    }

    .pokedex__figure-title {
        inset-block-end: 4rem;
        width: 32rem;
    }

    .pokedex__head-figure {
        inset-block-start: -6.7rem;
        width: 8rem;
    }

    /* ===== ===== ===== HEADER ===== ===== =====  */
    .pokedex-header {
        padding-block: 2rem;
    }

    .pokedex-header__title {
        font-size: 1.8rem;
    }
    
}